@import 'now-ui-kit/variables';
@import 'custom_variables';

/**
 * Estils personalitzats
 *********************************/

@font-face {
	font-family: 'deibi';
	src: url('/sites/all/themes/afamallorca/fonts/deibi-webfont.eot');
	src: url('/sites/all/themes/afamallorca/fonts/deibi-webfont.eot?#iefix') format('embedded-opentype'),
	url('/sites/all/themes/afamallorca/fonts/deibi-webfont.woff') format('woff'),
	url('/sites/all/themes/afamallorca/fonts/deibi-webfont.ttf') format('truetype'),
	url('/sites/all/themes/afamallorca/fonts/deibi-webfont.svg#deibiregular') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

h1, h2 {
	font-family: deibi;
	font-weight: bold;
}

/********************
 * LAYOUT
 * @section: layout
 *********************/

/*
 * @subsection: header
 */

.navbar {
	.site-logo img {
		max-height: 50px;
	}
	.site-name-slogan {
		display: none;
	}
	&.navbar-transparent .site-name-slogan {
		display: block;
		@include media-breakpoint-down(md) {
			padding-top: 20px;
		}
	}
	@include media-breakpoint-down(md) {
		padding-top: 5px !important;
	}
	@include media-breakpoint-down(lg) {
		.container {
			position: relative;
			.search_toggler {
				position: absolute;
				top: 20px;
				right: 60px;
			}
		}
	}
	.search_toggler {
		padding-left: 15px;
		font-size: 20px;
		cursor: pointer;
		color: #fff;
		@include media-breakpoint-up(lg) {
			border-left: 1px solid #fff;
		}
	}
	@include media-breakpoint-up(lg) {
		#navigation {
			margin-right: 15px;
		}
	}
	@include media-breakpoint-down(lg) {
		.navbar-collapse .menu--main {
			.nav-link {
				&:before {
					font-family: FontAwesome;
					font-size: 17px;
					margin-right: 10px;
				}
				&[href='/']:before {
					content: "\f015";
					font-size: 20px;
				}
				&[href='/articles']:before {
					content: "\f1ea";
				}
				&[href='/butlletins']:before {
					content: "\f1c5";
				}
				&[href='/calendari']:before {
					content: "\f073";
				}
			}
		}
	}
}

.page_title {
	background: $primary-color;
	color: #fff;
	padding: 15px 0;
	h1 {
		margin: 0;
		font-size: 3rem;
		letter-spacing: 1px;
	}
}

//Cercador
.block-search-form-block {
	position: fixed;
	top: -200px;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 100000;
	padding: 0;
	border: none !important;
	& > .content {
		padding: 35px 15px 40px;
		width: 550px;
		@include media-breakpoint-only(xs) {
			width: 90%;
		}
		margin: auto;
		display: block;
		@extend .card;
		background: $white-bg;
		text-align: center;
		.content {
			display: block;
		}
		#search-block-form {
			justify-content: center;
			input.form-search {
				border-color: $medium-gray;
				@include border-radius(30px);
				margin-right: 10px;
				width: 300px;
				@include media-breakpoint-down(sm) {
					width: 200px;
					margin-top: 10px;
				}
			}
			.button {
				@extend .btn-round;
			}
		}
		.close {
			color: $primary-color;
			margin-top: -20px;
			cursor: pointer;
		}
	}
	&.open {
		top: 30vh;
	}
}

.cover_layer {
	background: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	&.show {
		display: block;
	}
}

/*
 * @subsection: main
 */

.main, .main .section {
	background: #f1f1f1;
}
.page-header {
	height: 70vh;
	max-height: 900px;
	&[filter-color="primary"] {
		@include linear-gradient(rgba($black-color, .20), $custom_header_color);
	}
}
.page-header-background {
	background: $primary-color-dark;
	height: 115px;
	@include media-breakpoint-down(md) {
		height: 75px;
	}
}

.content .page-title {
	display: none;
}

.layout-sidebar-second {
	#sidebar_second.sidebar {
		@include media-breakpoint-up(lg) {
			-ms-flex-order: 3;
			order: 3;
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
			max-width: 100%;
		}
	}
}

.sidebar {
	.section {
		padding: 20px 0;
		@include media-breakpoint-up(md) {
			&:first-child {
				padding-top: 40px;
			}
		}
	}
	.block {
		border: none;
		@include media-breakpoint-down(md) {
			padding: 15px 0;
		}
		h2 {
			padding: 10px 5px;
			font-size: 1.2rem;
			font-weight: bold;
			border-bottom: 3px solid $primary-color-dark;
			color: $primary-color-dark;
		}
		&.block-menu {
			.nav-item {
				display: block;
				width: 100%;
				font-size: 0.86rem;
				.nav-link {
					color: $color_gray_text;
					border-bottom: 1px solid $light-gray;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
		&#block-afamallorca-menusidebar {
			@include media-breakpoint-down(md) {
				padding-bottom: 0;
				margin-bottom: 0;
				h2 {
					position: relative;
					padding-right: 40px;
					cursor: pointer;
					&:before {
						font-family: FontAwesome;
						content: "\f107";
						font-size: 20px;
						position: absolute;
						right: 10px;
						top: 10px;
					}
					&.opened:before {
						content: "\f106";
					}
				}
				.nav {
					max-height: 0;
					overflow: hidden;
					-webkit-transition: all 0.15s linear;
					-o-transition: all 0.15s linear;
					transition: all 0.15s linear;
					&.opened { max-height: 400px; }
					.nav-link {
						text-align: center;
					}
				}
			}
		}
	}
}


/********************
 * HOME
 * @section: home
 *********************/

/*
 * Bloc de missatge avís
 * @subsection: avis
 */
#block-avishome {
	@extend .card;
	background: $secondary-color;
	color: #fff;
	z-index: 2;
	padding: 20px 30px 10px;
	@include border-radius(10px);
	top: -20px;
	margin: 0 auto 20px;
	width: 90%;
	max-width: 700px;
	display: block;
	h2 { display: none; }
	.content {
		padding-left: 50px;
		position: relative;
		&:before {
			@extend .now-ui-icons;
			@extend .travel_info;
			position: absolute;
			left: 10px;
			top: 0;
			font-size: 24px;
		}
	}
}

/*
 * Llistat de posts
 * @subsection: posts_home
 */
.view-frontpage {
	.view-content {
		@include make-row();
	}
	.views-row {
		.card {
			margin: 10px 0;
			overflow: visible;
			.item_image {
				text-align: center;
				img {
					min-width: 100%;
					height: auto !important;
				}
			}
			.card-body {
				min-height: 50px;
				.card-title {
					font-family: deibi;
					font-weight: 600;
					font-size: 1.3rem;
					a {
						color: $black-color;
					}
				}
				.card-subtitle { color: $dark-gray; }
				.item_category {
					position: relative;
					top: -18px;
					left: -20px;
					display: inline-block;
					padding: 0 25px;
					background: $secondary-color;
					color: $white-color;
					a { color: inherit; }
				}
			}
		}
	}
	.view-footer {
		padding: 25px;
	}
}

/*
 * @subsection: destacats
 */

.destacats_home {
	padding-top: 45px;
	.block {
		@include media-breakpoint-up(sm) {
			width: 50%;
			float: left;
		}
		text-align: center;
		padding-top: 230px;
	}
	.destacats_links h2 {
		@include media-breakpoint-up(lg) {
			padding-bottom: 20px;
		}
	}
	#block-extraescolarshome {
		background: url("../images/ico_extraescolars.png") no-repeat center top ;
	}
	#block-menjadorblock {
		background: url("../images/ico_menjador.png") no-repeat center top ;
	}
	.banner-escola {
		@extend .card;
		font-family: deibi;
		font-size: 1.5rem;
		background: #2f5d5d;
		padding: 5px 20px;
		font-weight: bold;
		margin-top: 20px;
		@include border-radius(10px);
		a {
			display: block;
			color: $white-color;
			&:hover {
				opacity: 0.9;
				text-decoration: none;
			}
		}
		img {
			width: 60px;
			height: auto;
			margin-right: 15px;
		}
	}
}


/********************
 * CALENDARI
 * @section: calendari
 *********************/

.fc-header-toolbar {
	h2 {
		font-size: 1.5rem;
		padding-top: 5px;
	}
	button {
		background: $white-bg;
		color: $color-red;
		border-color: $color-red;
		@include box-shadow(none);
		&.fc-state-active {
			background: $color-red;
			color: $white-bg;
		}
		&.fc-today-button {
			border: none;
			background: $light-red;
		}
		&.fc-prev-button,
		&.fc-next-button {
			.fc-icon {
				line-height: 1.6rem;
			}
		}
	}
}
.fc-view {
	.fc-widget-header {
		background: #f2f2f2;
		color: $black-color;
		border: none;
		th { border: none; }
	}
	.fc-list-item {
		background: $white-bg;
	}
	.fc-list-empty {
		background: url("../images/sorry.png") no-repeat center 100px $light-gray ;
	}
	.fc-time {
		font-size: 0.75rem;
	}
}

.fc-agenda-view {
	.fc-day-grid .fc-row.fc-week {
		.fc-widget-content {
			font-size: 0.75rem;
		}
	}
	.fc-time-grid-container {
		.fc-time-grid {
			margin: 0;
		}
	}
	.fc-divider.fc-widget-header {
		height: 9px;
		background-color: #ddd;
	}
}

//Bloc de la home
#home_calendar {
	.fc-view {
		background: $white-bg;
		.fc-list-table {
			margin: 0;
		}
	}
}

//Página de calendari
#calendar {
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0 1px 2px #C3C3C3;
	.fc-header-toolbar {
		padding: 20px 15px 0;
		h2 {
			text-transform: capitalize;
			font-size: 2.5rem;
		}
		.fc-left, .fc-center {
			width: 33%;
		}
		.fc-center {
			text-align: center;
		}
	}
	.fc-body {
		background: $white-bg;
		tr {
			background: $white-bg;
		}
		.fc-content-skeleton table thead tr {
			border-bottom: none;
		}
		.fc-scroller {
			overflow-y: hidden !important;
			height: auto !important;
		}
		.fc-day-number {
			margin: 4px;
			font-size: 1rem;
			padding: 2px 4px 5px 6px;
		}
		.fc-today {
			background: $white-bg;
			.fc-day-number {
				background-color: #ff3b30;
				color: #FFFFFF;
				border-radius: 50%;
			}
		}
	}
}

/********************
 * POSTS
 * @section: posts
 *********************/

/*
 * @subsection: list
 */

.view-list-of-articles {
	.views-row {
		margin-bottom: 25px;
		@extend .card;
		overflow: visible;
		background: $white-bg;
		.views-field-title {
			font-size: 2rem;
			padding: 0 25px 25px;
			font-family: deibi;
			font-weight: 600;
			a { color: $black-color; }
			.field-content {
				display: block;
				padding: 0 15px 10px;
				border-bottom: 3px solid $primary-color;
				position: relative;
			}
		}
		.views-field-created {
			font-size: 1rem;
			padding: 25px 40px 0;
			color: $dark-gray;
		}
		.views-field-field-image {
			margin-bottom: 15px;
			position: relative;
			text-align: center;
		}
		.views-field-body {
			padding: 25px 40px;
		}
		.views-field-field-category {
			position: relative;
			.field-content {
				position: absolute;
				top: -24px;
				left: -10px;
				display: inline-block;
				padding: 5px 35px;
				background: $secondary-color;
				color: $white-color;
				a {
					color: inherit;
				}
			}
		}
	}
}

.pagination-container {
	display: flex;
	.pager__item--ellipsis {
		line-height: 30px;
	}
	.page_arrow {
		font-size: 1.3rem !important;
	}
}

/*
 * @subsection: view
 */

.node.node--type-article {
	.node__meta {
		border-bottom: 1px solid $light-gray;
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
		&:before {
			font-family: FontAwesome;
			content: "\f073";
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 5px;
		}
	}
	.field--type-image {
		float: none;
		margin-bottom: 15px;
	}
	.field--name-field-category {
		margin: 20px 0;
		padding-left: 30px;
		position: relative;
		border-top: 1px solid $light-gray;
		padding-top: 10px;
		&:before {
			font-family: FontAwesome;
			content: "\f02c";
			width: 20px;
			height: 20px;
			position: absolute;
			top: 12px;
			left: 5px;
			color: #68696b;
		}
		.field__item {
			display: inline;
			@extend .badge;
			border-color: #68696b;
			&:hover {
				border-color: $primary-color;
				a { color: $primary-color; }
			}
			a {
				color: #68696b;
				font-size: 0.86rem;
				&:hover {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}
	}
}

/********************
 * CERCA
 * @section: search
 *********************/

#search-form {
	margin-bottom: 50px;
	@extend .card;
	padding: 20px;
	#edit-basic {
		overflow: hidden;
		fieldset.form-group {
			width: 80%;
			float: left;
		}
		button.form-submit {
			margin-top: 27px;
			width: 18%;
			float: left;
			@extend .btn-round;
		}
	}
	#edit-help-link { display: none; }
}

.search-results {
	padding-left: 30px;
	li {
		padding: 15px 0;
		h3 {
			display: inline-block;
			font-size: 1.2rem;
			margin-bottom: 10px;
			a {
				color: $black-color;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}

/**********************
 * BUTLLETINS
 * @section: butlletins
 ***********************/

.path-butlletins {
	main#content > .section {
		padding-top: 15px;
		@include clearfix();
	}
}
.view-butlletins {
	h3 {
		border-bottom: 3px solid $light-gray;
		padding-bottom: 5px;
		clear: both;
		padding-top: 45px;
		text-align: center;
	}
	.views-row {
		float: left;
		width: 25%;
		padding: 15px;
		@include media-breakpoint-only(md) {
			width: 33%;
		}
		@include media-breakpoint-down(sm) {
			width: 50%;
		}
		.views-field-field-image img {
			height: auto !important;
		}
		.views-field-title {
			text-align: center;
			padding: 5px;
			color: $dark-gray;
		}
	}
}


/**********************
 * CONTACTE
 * @section: contact
 ***********************/

.featured-bottom {
	background: url("../images/contact_bkg.jpg") no-repeat bottom left ;
	background-size: cover;
	position: relative;
	color: $white-color;
	a {
		color: $white-color;
		text-decoration: underline;
		&:hover { font-weight: bold; }
	}
	.primary_mask {
		position: absolute;
		top: 0;
		left: 0;
		background: $primary-color;
		opacity: 0.8;
		width: 100%;
		height: 100%;
	}
	.container {
		position: relative;
		z-index: 2;
		padding-top: 70px;
		padding-bottom: 70px;
		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		h2 {
			color: $white-color;
			font-weight: bold;
			text-align: center;
			padding-bottom: 20px;
		}
		h3 {
			font-family: deibi;
			color: #000;
			font-weight: bold;
			font-size: 1.5rem;
			margin-bottom: 5px;
		}
		.telf {
			font-family: deibi;
			font-weight: bold;
			font-size: 2rem;
			text-decoration: none;
		}
		p { margin: 0; }
		.featured_block {
			padding-top: 30px;
		}
	}
}


#contact-message-feedback-form {
	@extend .card;
	background: $white-bg;
	padding: 20px;
	#edit-actions {
		text-align: right;
	}
}



/**********************
 * PÀGINES
 * @section: pages
 ***********************/

.node--type-page {
	h2 {
		text-align: center;
	}
}

/*
 * @subsection: about
 */

.section-about-us {
	.section-story-overview {
		p {
			margin-bottom: 30px;
		}
		h3 {
			margin-bottom: 15px;
		}
		%qs-icons {
			font-size: 40px;
			color: $dark-gray;
			position: absolute;
			top: 20px;
			left: 40px;
			font-family: "Nucleo Outline";
		}
		padding-bottom: 0;
		#qs_volem {
			h3 {
				padding-top: 20px;
			}
			p {
				position: relative;
				padding-left: 120px;
				padding-bottom: 20px;
				border-bottom: 1px solid $light-gray;
				margin-bottom: 20px;
				&:last-child {
					border: none;
				}
				&:before {
					@extend %qs-icons;
				}
			}
			#qs_volem_1 {
				&:before {
					content: "\ea30";
				}
			}
			#qs_volem_2 {
				&:before {
					content: "\ea55";
				}
			}
			#qs_volem_3 {
				&:before {
					content: "\ea01";
				}
			}
		}
	}
}
