@import 'now-ui-kit/variables';
@import 'custom_variables';

/**
 * Estils personalitzats
 *********************************/


/********************
 * LAYOUT
 * @section: layout
 *********************/

/*
 * @subsection: header
 */

.navbar {
	.site-logo img {
		max-height: 50px;
	}
	.site-name-slogan {
		display: none;
	}
	&.navbar-transparent .site-name-slogan {
		display: block;
		@include media-breakpoint-down(md) {
			padding-top: 20px;
		}
	}
	@include media-breakpoint-down(md) {
		padding-top: 5px !important;
	}
	@include media-breakpoint-down(lg) {
		.container {
			position: relative;
			.search_toggler {
				position: absolute;
				top: 20px;
				right: 60px;
			}
		}
	}
	.search_toggler {
		padding-left: 15px;
		font-size: 20px;
		cursor: pointer;
		color: #fff;
		@include media-breakpoint-up(lg) {
			border-left: 1px solid #fff;
		}
	}
	@include media-breakpoint-up(lg) {
		#navigation {
			margin-right: 15px;
		}
	}
}

.page_title {
	background: $primary-color;
	color: #fff;
	padding: 15px 0;
	h1 {
		margin: 0;
	}
}

//Cercador
.block-search-form-block {
	position: fixed;
	top: -200px;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 100000;
	padding: 0;
	border: none !important;
	& > .content {
		padding: 35px 15px 40px;
		width: 550px;
		@include media-breakpoint-only(xs) {
			width: 90%;
		}
		margin: auto;
		display: block;
		@extend .card;
		background: $white-bg;
		text-align: center;
		.content {
			display: block;
		}
		#search-block-form {
			justify-content: center;
			input.form-search {
				border-color: $medium-gray;
				@include border-radius(30px);
				margin-right: 10px;
				width: 300px;
				@include media-breakpoint-down(sm) {
					width: 200px;
					margin-top: 10px;
				}
			}
			.button {
				@extend .btn-round;
			}
		}
		.close {
			color: $primary-color;
			margin-top: -20px;
			cursor: pointer;
		}
	}
	&.open {
		top: 30vh;
	}
}

.cover_layer {
	background: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	&.show {
		display: block;
	}
}

/*
 * @subsection: main
 */

.main, .main .section {
	background: #f1f1f1;
}
.page-header {
	height: 70vh;
	max-height: 900px;
	&[filter-color="primary"] {
		@include linear-gradient(rgba($black-color, .20), $custom_header_color);
	}
}
.page-header-background {
	background: $primary-color-dark;
	height: 115px;
	@include media-breakpoint-down(md) {
		height: 75px;
	}
}

.content .page-title {
	display: none;
}

.layout-sidebar-second {
	#sidebar_second.sidebar {
		@include media-breakpoint-up(lg) {
			-ms-flex-order: 3;
			order: 3;
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
			max-width: 100%;
		}
	}
}

.sidebar .block {
	border: none;
	h2 {
		padding: 10px 5px;
		border-top: 3px solid $medium-gray;
		border-bottom: 3px solid $medium-gray;
	}
}

/********************
 * HOME
 * @section: home
 *********************/

/*
 * Bloc de missatge avís
 * @subsection: avis
 */
#block-avishome {
	@extend .card;
	background: $secondary-color;
	color: #fff;
	z-index: 2;
	padding: 20px 30px 10px;
	@include border-radius(10px);
	top: -20px;
	margin: 0 auto 20px;
	width: 90%;
	max-width: 700px;
	display: block;
	h2 { display: none; }
	.content {
		padding-left: 50px;
		position: relative;
		&:before {
			@extend .now-ui-icons;
			@extend .travel_info;
			position: absolute;
			left: 10px;
			top: 0;
			font-size: 24px;
		}
	}
}

/*
 * Llistat de posts
 * @subsection: posts_home
 */
.view-frontpage {
	.view-content {
		@include make-row();
	}
	.views-row {
		.card {
			margin: 10px 0;
			overflow: visible;
			.item_image {
				text-align: center;
				img {
					min-width: 100%;
				}
			}
			.card-body {
				min-height: 50px;
				.card-title a { color: $black-color; }
				.card-subtitle { color: $dark-gray; }
				.item_category {
					position: relative;
					top: -18px;
					left: -20px;
					display: inline-block;
					padding: 0 25px;
					background: $secondary-color;
					color: $white-color;
					a { color: inherit; }
				}
			}
		}
	}
	.view-footer {
		padding: 25px;
	}
}

/*
 * @subsection: destacats
 */

.destacats_home {
	.block {
		@include media-breakpoint-up(lg) {
			width: 50%;
			float: left;
		}
		text-align: center;
		padding-top: 230px;
	}
	#block-extraescolarshome {
		background: url("../images/ico_extraescolars.png") no-repeat center top ;
	}
	#block-menjadorblock {
		background: url("../images/ico_menjador.png") no-repeat center top ;
	}
}


/********************
 * CALENDARI
 * @section: calendari
 *********************/

.fc-header-toolbar {
	h2 {
		font-size: 1.5rem;
		padding-top: 5px;
	}
	button {
		background: $white-bg;
		color: $color-red;
		border-color: $color-red;
		@include box-shadow(none);
		&.fc-state-active {
			background: $color-red;
			color: $white-bg;
		}
		&.fc-today-button {
			border: none;
			background: $light-red;
		}
		&.fc-prev-button,
		&.fc-next-button {
			.fc-icon {
				line-height: 1.6rem;
			}
		}
	}
}
.fc-view {
	.fc-widget-header {
		background: #f2f2f2;
		color: $black-color;
		border: none;
		th { border: none; }
	}
	.fc-list-item {
		background: $white-bg;
	}
	.fc-list-empty {
		background: url("../images/sorry.png") no-repeat center 100px $light-gray ;
	}
}

//Bloc de la home
#home_calendar {
	.fc-view {
		background: $white-bg;
		.fc-list-table {
			margin: 0;
		}
	}
}

//Página de calendari
#calendar {
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0 1px 2px #C3C3C3;
	.fc-header-toolbar {
		padding: 20px 15px 0;
		h2 {
			text-transform: capitalize;
			font-size: 2.5rem;
		}
		.fc-left, .fc-center {
			width: 33%;
		}
		.fc-center {
			text-align: center;
		}
	}
	.fc-body {
		background: $white-bg;
		tr {
			background: $white-bg;
		}
		.fc-content-skeleton table thead tr {
			border-bottom: none;
		}
		.fc-scroller {
			overflow-y: hidden !important;
			height: auto !important;
		}
		.fc-day-number {
			margin: 4px;
			font-size: 1rem;
			padding: 2px 4px 5px 6px;
		}
		.fc-today {
			background: $white-bg;
			.fc-day-number {
				background-color: #ff3b30;
				color: #FFFFFF;
				border-radius: 50%;
			}
		}
	}
}

/********************
 * POSTS
 * @section: posts
 *********************/

/*
 * @subsection: list
 */

.view-list-of-articles {
	.views-row {
		margin-bottom: 25px;
		@extend .card;
		overflow: visible;
		background: $white-bg;
		.views-field-title {
			font-size: 2rem;
			padding: 0 25px 25px;
			a { color: $black-color; }
			.field-content {
				display: block;
				padding: 0 15px 10px;
				border-bottom: 3px solid $primary-color;
				position: relative;
			}
		}
		.views-field-created {
			font-size: 1rem;
			padding: 25px 40px 0;
			color: $dark-gray;
		}
		.views-field-field-image {
			margin-bottom: 15px;
			position: relative;
			text-align: center;
		}
		.views-field-body {
			padding: 25px 40px;
		}
		.views-field-field-category {
			position: relative;
			.field-content {
				position: absolute;
				top: -24px;
				left: -10px;
				display: inline-block;
				padding: 5px 35px;
				background: $secondary-color;
				color: $white-color;
				a {
					color: inherit;
				}
			}
		}
	}
}

.pagination-container {
	display: flex;
	.pager__item--ellipsis {
		line-height: 30px;
	}
	.page_arrow {
		font-size: 1.3rem !important;
	}
}
