/**
 * Variables per al tema de l'afa
 *********************************/

/* Colors */

$secondary-color: #06bcc7;
$primary-color-dark: darken($primary-color, 30%);
$color-red: #ff3b30;
$custom_header_color: rgba(85,85,255, .8);
$color_gray_text: #555;

$social-vimeo:                   #01b4ee !default;
$social-vimeo-state-color:       darken(#01b4ee, 5%) !default;

$social-rss:                   #e05800 !default;
$social-rss-state-color:       darken(#e05800, 5%) !default;

/* Mixins */

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($bshadow) {
	-moz-box-shadow: $bshadow;
	-webkit-box-shadow: $bshadow;
	box-shadow: $bshadow;
}

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}